In [1]:
# Задание 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
# Определите какому фильму было выставлено больше всего оценок 5.0.
import pandas as pd

In [7]:
data = pd.read_csv('ratings.csv')
data.head() #Открываю файл и смотрю названия столбцов

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [28]:
data.query('rating == 5.0').groupby('movieId').apply(len).sort_values(ascending = False) #Выбираю только фильмы с оценками 5.0, группирую по фильму,

movieId
318     153
296     123
356     116
2571    109
260     104
       ...
6006      1
6021      1
6051      1
6059      1
3917      1
Length: 2954, dtype: int64

In [2]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
# категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity.
data = pd.read_csv('power.csv')
data.head() #Открываю файл и смотрю названия столбцов

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [18]:
def baltic(country):
    """ Возвращает Прибалтика, если это Литва, Латвия и Эстония и Other для других стран"""
    if country in ['Lithuania','Latvia','Estonia']:
        return 'Прибалтика'
    return 'Other'

In [56]:
# Вариант 1 - через заданные заранее списки
data['baltic'] = data.country.apply(baltic)
list_year = [2005,2006,2007,2008,2009,2010] #- задали список лет, по которому нужно отфильтровать
list_category = [4,12,21] - #- задали список лет, по которому нужно отфильтровать
data_no_negative2 = data.query(f'(quantity > 0) & (year in {list_year}) & (category in {list_category}) & (baltic == "Прибалтика")')
data_no_negative2.head()

         country  year  quantity  category      baltic
10617    Estonia  2008       1.0         4  Прибалтика
10620    Estonia  2005       1.0         4  Прибалтика
11156  Lithuania  2008       1.0         4  Прибалтика
11158  Lithuania  2006       1.0         4  Прибалтика
11159  Lithuania  2005       1.0         4  Прибалтика

In [55]:
data_no_negative2.category.sum()

5943

In [65]:
# Вариант 2 - списки внутри запроса (неудобен - если списки сильно большие, например год с 1970 по 2020)
data_no_negative3 = data.query(f'(quantity > 0) & (year == [2005,2006,2007,2008,2009,2010]) & (category in [4,12,21]) & (baltic == "Прибалтика")')
data_no_negative3.head()
data_no_negative3.category.sum()

5943

In [91]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти): 
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremeni
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', thousands='.', encoding='utf-8')[1]
df = df.rename(columns={'Unnamed: 0': 'NaN'}) #Переименовываю столбец
df_RUB = df[df['Рубль'].str.contains('/RUB')] #Делаю DF только с котировками рубля, поэтому обрезаю остальное
df_EUR = df[df['Рубль'].str.contains('EUR/')] #Делаю DF только с котировками eвро, поэтому обрезаю остальное

df_EUR

,NaN,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
1,NaN,EUR/RUB,"92,8765",-,"92,3280","0,59 %","0,5485",18:19:00
7,NaN,EUR/USD,"1,1735",-,"1,1665","0,60 %","0,0071",18:19:00
8,NaN,EUR/GBP,"0,9135",-,"0,9085","0,56 %","0,0051",18:19:00
9,NaN,EUR/JPY,"123,9715",-,"123,0850","0,72 %","0,8865",18:19:00
10,NaN,EUR/CHF,"1,0815",-,"1,0788","0,25 %","0,0028",18:19:00
28,NaN,EUR/CHF,"1,0815",-,"1,0788","0,25 %","0,0028",18:19:00
32,NaN,EUR/UAH,"33,2629",-,"32,9727","0,88 %","0,2901",18:20:00